.nav_wrap {
    position: relative;
    min-width: 1200px;
    width: 100%;
    border-bottom: 3px solid #007bc3;
    z-index: 999
}

.nav_wrap:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-top: 1px solid #eee
}

.nav_wrap .gnbNav {
    width: 100%;
    margin: 0;
    z-index: 1003;
    clear: both;
    background-color: #fff
}

.nav_wrap .gnbNav .gnb {
    position: relative;
    /* width:1024px; */
    height: 62px;
    margin: 0 auto;
    z-index: 99999;
    text-align: center
}

.nav_wrap .gnbNav .gnb > ul > li {
    display: inline-block
}

.nav_wrap .gnbNav .gnb > ul > li > a {
    display: block;
    padding: 0 49px;
    line-height: 62px;
    font-size: 18px;
    font-weight: normal;
    color: #252525
}

.nav_wrap .gnbNav .gnb > ul > li > a:hover, .nav_wrap .gnbNav .gnb > ul > li > a:focus, .nav_wrap .gnbNav .gnb > ul > li.active > a {
    color: #fff;
    background: #007bc3
}


/*반응형웹*/
/*데스크탑*/
@media (max-width: 1280px){

    body { font-size: 12px;}

}
@media (max-width: 1024px){

    body { font-size: 13px;}

}
/*노트북*/
@media (max-width: 960px){

    body { font-size: 14px;}

}
/*타블렛*/
@media (max-width: 768px){

    body { font-size: 15px;}

}
/*모바일*/
@media (max-width: 576px){

    body { font-size: 16px;}

}