* {
    margin: 0;
    padding: 0;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    width: 800px;
    margin: 0 auto;
}

h1 {
    text-align:center;
}

div {
    font-size: 30px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}



footer {
    font-size: 30px;
    text-align: center;
    background-color: #c2ebf9;
}


/*반응형웹*/
/*데스크탑*/
@media (max-width: 1280px){

    body { font-size: 12px;}

}
@media (max-width: 1024px){

    body { font-size: 13px;}

}
/*노트북*/
@media (max-width: 960px){

    body { font-size: 14px;}

}
/*타블렛*/
@media (max-width: 768px){

    body { font-size: 15px;}

}
/*모바일*/
@media (max-width: 576px){

    body { font-size: 16px;}

}